{% extends "base.html" %}{% block main %}
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> 视频教学</h3>
                </div>

                <div class="panel-body">
                    <video width="100%" controls="controls">
                        <source src="http://pgccdn.v.baidu.com/2914734984_3779235618_20170930005126.mp4?authorization=bce-auth-v1%2Fc308a72e7b874edd9115e4614e1d62f6%2F2017-09-29T16%3A51%3A39Z%2F-1%2F%2F1338c63bf7a8963a065493dfde9c22a9d0ef524becbeb992cb430c1273b8d5f1&responseCacheControl=max-age%3D8640000&responseExpires=Mon%2C+08+Jan+2018+00%3A51%3A39+GMT&xcode=5bfabc5174aa6fd54e10e3a9fabefec96423fff4f6fd496f&time=1523755264&_=1523677766979">
                    </video>
                </div>
            </div><!--panel-default-->
        </div><!--col-md-6-->

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> 视频教学</h3>
                </div>

                <div class="panel-body">
                    <video width="100%" controls="controls">
                        <source src="http://pgccdn.v.baidu.com/2914734984_3779235618_20170930005126.mp4?authorization=bce-auth-v1%2Fc308a72e7b874edd9115e4614e1d62f6%2F2017-09-29T16%3A51%3A39Z%2F-1%2F%2F1338c63bf7a8963a065493dfde9c22a9d0ef524becbeb992cb430c1273b8d5f1&responseCacheControl=max-age%3D8640000&responseExpires=Mon%2C+08+Jan+2018+00%3A51%3A39+GMT&xcode=5bfabc5174aa6fd54e10e3a9fabefec96423fff4f6fd496f&time=1523755264&_=1523677766979">
                    </video>
                </div>
            </div><!--panel-default-->
        </div><!--col-md-6-->

    </div><!--row-->
</div><!-- container -->
{% endblock %}